.header {
}
.header_list{
}
.header__listitem {
    color:white;
    list-style: none;
    display: flex;
    flex-direction: row;
}
.main_text {
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 283px;
    font-family: Oswald;
    font-size: 72px;
    font-weight: 500;
    line-height: 106.7px;
    letter-spacing: 4px;
}
.main_offer {
    color:white;
}
.slider {
}
.slider_list {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 503px;
    height: 21px;
    top: 79px;
    left: 985.36px;
}
.slider_listitem {
    color:white;
}
body{
    background-image: url("/img/Image.png");
    background-repeat: no-repeat;
    width: 1800px;
height: 904px;
top: 48px;
left: 50px;
}
span{
    border-bottom:green 2px solid;
}
.header__listitem::hover{ 
    padding: bottom 20px;
    border-bottom:green 5px solid;
}